<%= form_with(model: politica) do |form| %>
  <% if politica.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(politica.errors.count, "error") %> prohibited this politica from being saved:</h2>

      <ul>
        <% politica.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :titulo, style: "display: block" %>
    <%= form.text_field :titulo %>
  </div>

  <div>
    <%= form.label :conteudo, style: "display: block" %>
    <%= form.textarea :conteudo %>
  </div>

  <div>
    <%= form.label :analise, style: "display: block" %>
    <%= form.textarea :analise %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
